

.message1, .message2 {
    text-align: center;
}

.tableContainer {
    padding-bottom: 3rem;
}

table {
    background-color: #6d2978;
    margin-left: 50%;
    transform: translateX(-50%);
}

th {
    background-color: #6d2978;
    color: #f6ded7;
}

td {
    background-color: #f6ded7;
    padding: 0.5rem 1rem 0.5rem 1rem;
}

table, th, td {
    border: 2px solid #6d2978;
}

.rulesTableTitle {
    display: inline-table;
    white-space: nowrap;
}