.rules-form-container {
    background: linear-gradient(#f7f7e0, #f6ded7);
    display: grid;
    height: 500% !important;
    margin-bottom: 3rem;
    padding-bottom: 3rem;
}

.aR1 {
    display: flex;
    grid-column-start: 1;
    grid-column-end: 6;
    grid-row-start: 1;
    grid-row-end: 2;
    justify-content: center;
}

.aR {
    margin: 2rem 0 0 3rem;
}

.aR2 {
    background-color: #f6ded7;
    border: 2px solid #a53860;
    color: #a53860;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 4;
    margin-bottom: 2rem;
    margin-left: 50%;
    padding: 2rem;
    transform: translateX(-50%);
}

.aR3 {
    background-color: #f6ded7;
    border: 2px solid #a53860;
    color: #a53860;
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end: 4;
    margin-bottom: 2rem;
    margin-left: 50%;
    padding: 2rem;
    transform: translateX(-50%);
}

.membership-rule-form {
    display: list-item;
}

.score-rule-form {
    display: flex;
    align-items: flex-end;
}