
.mR1 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 4;
    grid-row-end: 7;
    height: 600px;
    overflow: scroll;
}

.ruleTable {
    width: 100%;
}

.rulesTableTitle {
    color: #f7f7e0;
}

.mR2 {
    text-align: center;
    width: 250px;
}

.mR3 {
    width: 500px;
}

