
.mR1 {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 4;
    grid-row-end: 7;
    height: 600px;
    overflow: scroll;
    width: 600px;
}

.ruleTable {
    width: 100%;
}

.rulesTableTitle {
    color: #f7f7e0;
}

