
.mR1 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 4;
    grid-row-end: 7;
    height: 600px;
    overflow-x: hidden;
    overflow-y: scroll;
}

.ruleTable {
    width: 350px;
}

.rulesTableTitle {
    align-self: center;
    color: #f7f7e0;
}


