#metrics-container {
    display: flex;
    justify-content:space-around;
    padding-bottom: 400px;
}
.company-details-subheader,
#company-name{
    align-items: center;
    text-align: center;
    display: block;
}
#wiki-excerpt{
    padding:50px;
}
#back-btn{
    position: relative;
    top: 150px;
    left: 50px;
}

.company-details {
    background: linear-gradient(#f7f7e0, #f6ded7);
    height: 200% !important;
}
.popover > .MuiPaper-root {
    background-color: #ffffff;
    padding: 10px;
    font-size: smaller;
    line-height: 15px;
}
.popover > .MuiPaper-root > p {
    margin: 5px;
}

.hide {
    display: none;
}

.moreInfo:hover + .hide {
    display: block;
    color: blue;
}